@font-face {
 font-family: 'Migra';
 src: url('../fonts/Migra-Extrabold.woff2') format('woff2'),
  url('../fonts/Migra-Extrabold.woff') format('woff');
 font-weight: bold;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: 'Migra';
 src: url('../fonts/MigraItalic-ExtralightItalic.woff2') format('woff2'),
  url('../fonts/MigraItalic-ExtralightItalic.woff') format('woff');
 font-weight: 200;
 font-style: italic;
 font-display: swap;
}

@font-face {
 font-family: 'Migra';
 src: url('../fonts/Migra-Extralight.woff2') format('woff2'),
  url('../fonts/Migra-Extralight.woff') format('woff');
 font-weight: 200;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: 'Migra';
 src: url('../fonts/MigraItalic-ExtraboldItalic.woff2') format('woff2'),
  url('../fonts/MigraItalic-ExtraboldItalic.woff') format('woff');
 font-weight: bold;
 font-style: italic;
 font-display: swap;
}

@font-face {
 font-family: 'Inter';
 src: url('../fonts/Inter-Regular.woff2') format('woff2'),
  url('../fonts/Inter-Regular.woff') format('woff');
 font-weight: normal;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: 'Inter';
 src: url('../fonts/Inter-Medium.woff2') format('woff2'),
  url('../fonts/Inter-Medium.woff') format('woff');
 font-weight: 500;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: 'Trajan Pro';
 src: url('../fonts/TrajanPro-Bold.woff2') format('woff2'),
  url('../fonts/TrajanPro-Bold.woff') format('woff');
 font-weight: bold;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: 'Trajan Pro';
 src: url('../fonts/TrajanPro-Regular.woff2') format('woff2'),
  url('../fonts/TrajanPro-Regular.woff') format('woff');
 font-weight: normal;
 font-style: normal;
 font-display: swap;
}