@import '/node_modules/reset-css/sass/reset';
@import './fonts';

body {
 font-family: 'Inter', sans-serif;
 background: #EAE8E3;
 font-size: 16px;
 color: #2E4F4D;
}

a {
 text-decoration: none;
 color: #2E4F4D;
}

.arrow {
 display: block;
 text-align: center;
 border-top: 1px solid #562A14;
 border-bottom: 1px solid #562A14;
 margin-left: auto;
 margin-top: 24px;
 max-width: 200px;
 cursor: pointer;
 padding: 24px 0;

 svg {
  transition: all .2s linear;
 }

 &:hover svg {
  transform: translateX(90px);
 }

 &:hover svg path {
  fill: #2E4F4D;
 }
}

.container {
 max-width: 1240px;
 margin: 0 auto;
}

@media (max-width: 1199px) {
 .container {
  max-width: 960px;
 }
}

@media (max-width: 991px) {
 .container {
  max-width: 750px;
  padding: 0 20px;
 }
}

@media (max-width: 767px) {
 .container {
  max-width: 100%;
  padding: 0 20px;
 }
}

.header {
 &__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  &::after {
   position: absolute;
   content: "";
   left: 0;
   bottom: -15px;
   background: #2E4F4D;
   height: 1px;
   width: 100%;
  }
 }

 &__menu {
  position: relative;
  cursor: pointer;

  &::after {
   position: absolute;
   content: "";
   right: -16px;
   top: 50%;
   transform: translateY(-50%);
   background: #2E4F4D;
   width: 1px;
   height: 160%;
  }

  &::before {
   position: absolute;
   content: "";
   left: -16px;
   top: 50%;
   transform: translateY(-50%);
   background: #2E4F4D;
   width: 1px;
   height: 160%;
  }

  &-text {
   font-size: 18px;
   line-height: 22px;
   font-weight: 400;
  }
 }

 &__item {
  margin-right: 30px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;

  &:last-child {
   margin-right: 0;
  }
 }
}

.home {
 &__img {
  max-width: 100%;
  height: auto;
 }

 &__title {
  position: relative;
  display: inline-block;
  font-family: 'Trajan Pro', sans-serif;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  margin: 200px 0 65px;

  &::after {
   position: absolute;
   right: -100px;
   top: 100%;
   text-transform: uppercase;
   content: "HISTORY";
  }

  &-second {
   &::after {
    content: "colours";
   }
  }
 }
}

.brand {
 &__wrapper {
  display: flex;
  align-items: flex-end;

  img {
   margin-right: 40px;
  }
 }

 &__content {
  max-width: 376px;
  width: 100%;
  transform: translateY(-40px);

  &-title {
   font-family: 'Trajan Pro', sans-serif;
   font-weight: bold;
   font-size: 18px;
   line-height: 22px;
   text-transform: uppercase;
  }

  &-text {
   font-size: 16px;
   line-height: 19px;
   margin: 20px 0 40px;
  }

  &-btn {
   display: flex;
   align-items: center;
   font-family: 'Trajan Pro', sans-serif;
   font-size: 16px;
   line-height: 24px;
   color: #562A14;
   transition: all .2s linear;

   &:hover {
    color: #2E4F4D;
   }

   &:hover svg path {
    fill: #2E4F4D;
   }

   svg {
    transition: all .2s linear;
    margin-left: 10px;
   }
  }
 }
}

.inside {
 &__wrapper {
  display: flex;
  justify-content: space-between;
 }

 &__text {
  font-size: 16px;
  line-height: 19px;
  max-width: 461px;
  width: 100%;
 }

 &__img-first {
  display: block;
  margin-left: 55%;
  max-width: 100%;
  height: auto;
 }

 &__img-second {
  margin-top: 180px;
  display: block;
  max-width: 100%;
  height: auto;
 }

 &__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
 }

 &__text {
  font-size: 16px;
  line-height: 19px;
  max-width: 387px;
  width: 100%;
 }

 &__img-fourth {
  margin-top: 150px;
  margin-left: 31%;
  display: block;
  max-width: 100%;
  height: auto;
 }
}

.footer {
 padding-bottom: 30px;

 img {
  margin-bottom: 40px;
 }

 &__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
 }

 &__col {
  position: relative;

  &::before {
   position: absolute;
   content: "";
   left: -40px;
   top: -24px;
   width: 1px;
   height: 137%;
   background: #2E4F4D;
  }

  &:first-child::before {
   display: none;
  }
 }

 &__wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;

  &::after {
   position: absolute;
   content: "";
   left: 0;
   top: -40px;
   height: 1px;
   width: 100%;
   background: #2E4F4D;
  }
 }

 &__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 20px;
 }

 ul li {
  margin-bottom: 10px;

  &:last-child {
   margin-bottom: 0;
  }

  a {
   font-size: 14px;
   line-height: 17px;
   text-transform: uppercase;
  }
 }
}